#brandLogo{
    height: 75px;
}

@media (max-width: 576px) {
    #brandLogo{
        height: 50px;
    }
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu a::after {
    transform: rotate(-90deg);
    position: absolute;
    right: 6px;
    top: .8em;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: .1rem;
    margin-right: .1rem;
}

.text-red{
    color: red;
}

.text-primary-sub{
    color: #439bfa;
}

.bg-primary-light{
    background-color: #9acafe;
}

p{
    line-height: unset;
}

.padded-row{
    padding-top: 4rem;
}

.octagon-bullets{
    list-style-image: url('/assets/imgs/octagonal_bullets_7x7.svg');
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    padding-bottom: 1rem;
}

.card{
    transition: 0.3s ease;
}
.map-card:hover, .card.hover:hover{
    box-shadow: 0px 0px 6px gray;
}

#instructorTabs{
    font-size: 18px;
}

.w-33{
    width: 33.33%!important;
}

.carousel-caption{
    background-color: #95959569;
    border-radius: 1rem;
}

.border-gray-light{
    border-color: #bcbcbc;
}

.classPhotoImg{
    height: 15rem;
    object-fit: cover;
    cursor: pointer;
}

#classPhotoModalImage{
    object-fit: cover;
    cursor: pointer;
}

.kataCard > .card-header > h5{
    padding-bottom: 0;
    margin-bottom: 0;
}


@media screen and (min-width: 500px){
    .mobileOnlyBr{
        display: none;
    }
}