#brandLogo{
    height: 75px;
}

@media (max-width: 576px) {
    #brandLogo{
        height: 50px;
    }
}

.text-red{
    color: red;
}

.text-primary-sub{
    color: #439bfa;
}

p{
    line-height: unset;
}

.padded-row{
    padding-top: 4rem;
}

.octagon-bullets{
    list-style-image: url('/assets/imgs/octagonal_bullets_7x7.svg');
}